* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a1a2f;
    font-family: Arial, sans-serif;
}

.NavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(188, 188, 188);
    padding: 10px;
}

.NavBar a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.NavBar a:hover {
    color: blue;
}

.Judul {
    padding: 40px;
    border-radius: 12px;
    max-width: 600px;
    margin: 80px auto;
    text-align: center;
}

.Judul h1 {
    
    font-size: 60px;
    font-weight: 800;
    color: #00aaff;
}

.Project, .About, .Contact {
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
    color: white;
}
